@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
// Primary
$primary: #0873e7;
$primary-superdark: shade($primary, 60%);
$primary-dark: shade($primary, 40%);
$primary-mediumdark: shade($primary, 20%);
$primary-mediumlight: tint($primary, 20%);
$primary-light: tint($primary, 40%);
// Secondary
$secondary: #d43631;
$secondary-dark: shade($secondary, 40%);
$secondary-mediumdark: shade($secondary, 20%);
$secondary-mediumlight: tint($secondary, 20%);
$secondary-light: tint($secondary, 40%);
// Dark
$dark: #1a2870;
$dark-dark: shade($dark, 40%);
$dark-mediumdark: shade($dark, 20%);
$dark-mediumlight: tint($dark, 20%);
$dark-light: tint($dark, 40%);
// Text Links
$link: #0873e7;
$link-light: tint($link, 40%);
$link-mediumlight: tint($link, 20%);
$link-mediumdark: shade($link, 20%);
$link-dark: shade($link, 40%);
// Regular Text
$text: #161513;
$text-dark: shade($text, 40%);
$text-mediumdark: shade($text, 20%);
$text-mediumlight: tint($text, 20%);
$text-light: tint($text, 40%);
// Muted Text
$muted: #625c52;
$muted-dark: shade($muted, 40%);
$muted-mediumdark: shade($muted, 20%);
$muted-mediumlight: tint($muted, 20%);
$muted-light: tint($muted, 40%);
// Grey
$grey: #eae9e6;
$grey-dark: shade($grey, 40%);
$grey-mediumdark: shade($grey, 20%);
$grey-mediumlight: tint($grey, 20%);
$grey-light: tint($grey, 40%);
$grey-superlight: tint($grey, 60%);

$white: #fff;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
    (
        "primary": $primary,
        "secondary": $secondary,
        "dark": $dark,
        "info": $secondary,
        "light": tint($grey, 40%),
    ),
    $colors
);

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
        "primary": $primary,
        "primary-light": tint($primary, 40%),
        "primary-mediumlight": tint($primary, 20%),
        "primary-mediumdark": shade($primary, 20%),
        "primary-dark": shade($primary, 40%),
        "primary-superdark": shade($primary, 60%),
        "secondary": $secondary,
        "secondary-superlight": tint($secondary, 80%),
        "secondary-light": tint($secondary, 40%),
        "secondary-mediumlight": tint($secondary, 20%),
        "secondary-mediumdark": shade($secondary, 20%),
        "secondary-dark": shade($secondary, 40%),
        "dark": $dark,
        "dark-superlight": tint($dark, 80%),
        "dark-light": tint($dark, 40%),
        "dark-mediumlight": tint($dark, 20%),
        "dark-mediumdark": shade($dark, 20%),
        "dark-dark": shade($dark, 40%),
        "info": $secondary,
        "info-light": tint($secondary, 40%),
        "info-mediumlight": tint($secondary, 20%),
        "info-mediumdark": shade($secondary, 20%),
        "info-dark": shade($secondary, 40%),
        "grey": $grey,
        "grey-superlight": $grey-superlight,
        "grey-light": tint($grey, 40%),
        "grey-mediumlight": tint($grey, 20%),
        "grey-mediumdark": shade($grey, 20%),
        "grey-dark": shade($grey, 40%),
        "text": $text,
        "text-superlight": tint($text, 60%),
        "text-light": tint($text, 40%),
        "text-mediumlight": tint($text, 20%),
        "text-mediumdark": shade($text, 20%),
        "text-dark": shade($text, 40%),
        "muted": $muted,
        "muted-superlight": tint($muted, 60%),
        "muted-light": tint($muted, 40%),
        "muted-mediumlight": tint($muted, 20%),
        "muted-mediumdark": shade($muted, 20%),
        "muted-dark": shade($muted, 40%),
        "light": tint($grey, 40%),
    ),
    $theme-colors
);

/* IMPORTANT <-- Required Bootstrap Imports must be after our theme styles but before calls to functions, variables or mixins --> IMPORTANT*/
// Required parts of Bootstrap
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
    (
        0: 0,
        1: (
            $spacer * 0.25,
        ),
        2: (
            $spacer * 0.5,
        ),
        3: $spacer,
        4: (
            $spacer * 1.5,
        ),
        5: (
            $spacer * 3,
        ),
    ),
    $spacers
);

// Body
//
// Settings for the `<body>` element.

$body-color: $text;

// Links
//
// Style anchor elements.

$link-color: $link;
$link-hover-color: darken($link-color, 15%);

// Typography

$font-family-base: "Lato", sans-serif;

// Buttons

$btn-font-weight: $font-weight-bold;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem !default;
$line-height-base: 1.8;

$component-active-bg: theme-color("secondary");

$h1-font-size: $font-size-base * 1.5;
$h2-font-size: $font-size-base * 1.25;
$h3-font-size: $font-size-base;
$h4-font-size: $font-size-base * 0.75;

$headings-font-weight: 700;
$headings-margin-bottom: $spacer;

$text-muted: tint($text, 40%);

$blockquote-small-color: tint($text, 40%);

// Cards
$card-border-width: 1px;
$card-border-radius: 0.25rem;
$card-border-color: tint($grey, 40%);
$card-spacer-y: $spacer;
$card-spacer-x: $spacer;

// stylelint-disable at-rule-no-vendor-prefix, declaration-no-important, selector-no-qualifying-type, property-no-vendor-prefix
@import "../node_modules/bootstrap/scss/reboot";

// Optional parts of Bootstrap
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/custom-forms";

// Custom Styles

h1 {
    font-family: "Montserrat", sans-serif;
}

h4 {
    text-transform: uppercase;
    color: $muted;
    font-weight: 900;
}

.sidebar {
    flex: 0 0 200px;
    padding: 0;
    position: relative;
    height: 100vh;

    nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 200px;
        height: 100vh;
        background: $dark;
    }
    a {
        color: $white;
        padding: 0.5rem 1rem;

        &:hover {
            background: $dark-dark;
            text-decoration: none;
        }
    }
}

section {
    margin: 2rem 0;
}

.form-group {
    position: relative;

    > label {
        top: -10px;
        left: 8px;
        position: absolute;
        background-color: white;
        padding: 0 0.25rem 0 0.25rem;
        font-size: 0.75rem;
        font-weight: 700;
        color: $muted;
        text-transform: uppercase;
    }

    > input {
        border-color: $muted-light;
        border-width: 0.125rem;
    }
}

.modal-panel {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;

    .modal-header,
    .modal-footer {
        // height: 80px;
        display: block;
    }

    .modal-content {
        border: 0;
    }

    .modal-body {
        img {
            border-radius: 0.25rem;
        }

        .form-group {
            width: 340px;
            float: right;
            clear: both;
        }
    }

    .modal-footer {

        .form-group {
            width: 100px;
        }
    }
}

.modal.fade .modal-dialog.modal-panel {
    -webkit-transform: translate(100%, 0) scale(1);
    transform: translate(100%, 0) scale(1);
}

.modal.fade.show .modal-dialog.modal-panel {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;

    .modal-body {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.nav {
    border-bottom: 1px solid $grey;

    &-link {
        border-bottom: 3px solid transparent;
        color: $muted;
        font-weight: 700;
        padding-left: 0;
        padding-right: 0;
        margin-right: 2rem;

        &.active {
            color: $text;
            border-bottom-color: $primary;
        }
    }
}
